/* full section */
.about-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px;
}
/* right section */
/* .about-card {
} */

/* right section */
.about-text-section {
    text-align: center;
    padding: 10px;
    background-color: var(--color-bg);
    /* border-radius: 15px; */
}

.about-statement h3, p {
    margin: 10px;
}

.about-social {
    margin: 10px;
}

.about-socials ul {
    display: flex;
    flex-direction: column;
    gap:20px;
    list-style: none;
    padding: 10px;

}