.gallery-card{
    break-inside: avoid;
    border: 0px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
    display: inline-block;
    background-color: var(--color-dark1)
  }
  .gallery-card .gallery-card-image{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  .gallery-card .gallery-card-title{
    font-family: --font2;
  }
  
  .gallery-card .gallery-card.desc{
    font-family: --font3;
  }